{% set type = acf.accordion_type %}
{% set details = acf.accordion_details %}
{% set lists = acf.accordion_lists %}

<div class="c-accordion padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">

    <div class="o-row o-row--no-margin">

        <div class="o-grid-container c-accordion__container">

            <div class="c-accordion__details">
            
                {% if type == 'menu' %}
                    
                    <h2 class="c-accordion__main-heading">{{ details.heading }}</h2>

                    <hr class="e-seperator">

                    {% if details.menu %}
                    <ul class="c-accordion__menu">
                        {% for menuItem in details.menu %}
                            <li class="c-accordion__menu__item">
                                <a href="#accordion{{ loop.index }}" class="js-accordion-menu">{{ menuItem.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                {% else %}
                    
                    {% if details.subhead %}
                    <div class="c-accordion__subhead">
                        {{ details.subhead }}
                    </div>
                    {% endif %}

                    <h2 class="c-accordion__main-heading">{{ details.heading }}</h2>

                {% endif %}

            </div>

            <div class="c-accordion__blocks">

                {% if lists.list %}

                    {% for list in lists.list %}

                        {% set pulledAccordions = get_accordion( list.product_category ).accordionContent.list[0] %}

                        {% if pulledAccordions %}

                            {% set accordionColour = get_accordion( list.product_category ).accordionColour %}

                            <div class="c-accordion__block{% if accordionColour %} c-accordion--{{ accordionColour }}{% endif %}">

                                <h2 id="accordion{{ loop.index }}" class="c-accordion__block__title">{{ list.title }}</h2>

                                {% for item in pulledAccordions.items %}
                                <div class="c-accordion__item">
                                        <h2 class="c-accordion__item__title">
                                            <a href="/" class="c-accordion__item__title__title">
                                                {{ item.heading }}
                                            </a>
                                        </h2>
                                        <div class="c-accordion__item__content">
                                            <div class="c-accordion__item__content-inner">
                                            {{ item.content }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        {% else %}

                            <div class="c-accordion__block{% if list.product_category %} c-accordion--{{ TimberTerm(list.product_category).colour }}{% endif %}">

                                <h2 id="accordion{{ loop.index }}" class="c-accordion__block__title">{{ list.title }}</h2>

                                {% for item in list.items %}
                                    <div class="c-accordion__item">
                                        <h2 class="c-accordion__item__title">
                                            <a href="/" class="c-accordion__item__title__title">
                                                {{ item.heading }}
                                            </a>
                                        </h2>
                                        <div class="c-accordion__item__content">
                                            <div class="c-accordion__item__content-inner">
                                            {{ item.content }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </div>

        </div>

    </div>

</div>