<div class="c-content-row padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">
    
    <div class="o-row o-row--no-margin">

        <div class="o-grid-container c-content-row__container--{{acf.contentrow_layout}}">

        
        <div class="c-content-row__column">
            {% set link = acf.contentrow_content.first_column.content_link %}
            {% set content = acf.contentrow_content.first_column.contentrow_main %}
            <div class="e-content c-content-row__content">
                {{ content }}
            </div>
            
            {% if link %}
            <div class="c-content-row__link">
            {% include "./elements/button.twig"
            with  {
                title : link['title'],
                url: link['url'],
                target: link['target']
            }
            %}
            </div>
            {% endif %}
        </div>

        {% if acf.contentrow_layout != 'single' %}
        <div class="c-content-row__column">
            {% set link = acf.contentrow_content.second_column.content_link %}
            {% set content = acf.contentrow_content.second_column.contentrow_main %}
            <div class="e-content c-content-row__content">
                {{ content }}
            </div>
            {% if link %}
            <div class="c-content-row__link">
            {% include "./elements/button.twig"
            with  {
                title : link['title'],
                url: link['url'],
                target: link['target']
            }
            %}
            </div>
            {% endif %}
        </div>
        {% endif %}

        </div>

    </div>

</div>