<div class="c-download padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">

    <div class="o-row">

		<div class="o-grid-container">

            {% for download in acf.downloads %}

                <div class="c-download__item">

                    {{ download.title }}

                    {{ download.description }}

                    {% include "./elements/button.twig"
                        with  {
                            title : download.link['title'],
                            url: download.link['url'],
                            target: download.link['target']
                        }
                    %}

                    {{ download.additional_content }}

                </div>

            {% endfor %}

        </div>

    </div>

</div>