{% if type == 'search' %}
    {% set posts = posts %}
    {% set itemnum = items %}
    {% set columns = items ~ 'cols' %}
    {% set heading = message %}
    {% set bgcolor = 'gray' %}
{% else %}
    {% set posts = Post(acf.listing_cards) %}
    {% set itemnum = posts|length %}
    {% set columns = acf.listing_columns %}
    {% set heading = acf.listing_heading %}
    {% set bgcolor = acf.module_background %}
{% endif %}

<div class="c-listing padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{bgcolor}}">
    <div class="o-row o-row--no-margin">
        <div class="o-grid-container c-listing__container">
            
            {% if acf.listing_subhead %}
            <div class="c-listing__subhead">
                {{ acf.listing_subhead }}
            </div>
            {% endif %}

            {% if heading %}
            <div class="c-listing__heading">
                {{ heading }}
            </div>
            {% endif %}

            {% if not fn('is_front_page') and posts and post.parent == 0 and  post.type.slug == 'page' %}
            <div class="c-listing__count">
                {{ posts|length }} products available
            </div>
            {% endif %}

            <div class="c-listing__grid--{{ columns }} items-{{ itemnum }}">

                {% for card in posts %}

                    <div class="c-listing__card">

                        {% set type = card.post_type %}

                        {% set cardItems = {
                            type: type,
                            title: card.title,
                            url: card.link,
                            excerpt: card.preview.read_more('')
                        } %}

                        {% if type == 'page' %}
                            {% if card.product_category %}
                                {% if card.hero_more_content != 'none' %}
                                    {% set cardItems = cardItems|merge({
                                        image: TimberImage( card.hero_image )
                                    })%}
                                {% endif %}

                                {% set cardItems = cardItems|merge({
                                    productCount: TimberTerm(card.product_category).posts()|length,
                                    color: TimberTerm(card.product_category).colour
                                })%}
                            {% endif %}
                        {% endif %}

                        {% if type == 'product' %}
                            {% if card.hero_more_content != 'none' %}
                                    {% set cardItems = cardItems|merge({
                                        image: TimberImage( card.get_thumbnail.id )
                                    })%}
                                {% endif %}
                            {% if card._price is iterable %}
                                {% set price = card._price[0] %}
                            {% else %}
                                {% set price = card._price %}
                            {% endif %}
                            {% if card.custom.product_unavailable_toggle == 'yes' %}
                                {% set cardItems = cardItems|merge({
                                    unavailablenote: card.custom.product_unavailable_unavailable_card_text
                                })%}
                            {% endif %}
                            {% set cardItems = cardItems|merge({
                                price: price,
                                terms: card.terms( {query:{taxonomy:'product_cat'}} )|join(', '),
                                color: card.terms( {query:{taxonomy:'product_cat'}} )[0].colour
                            })%}
                        {% endif %}
                    
                        {% include "./elements/card.twig" with cardItems %}

                    </div>

                {% endfor %}

                {% do fn('wp_reset_postdata') %}

            </div>

        </div>

    </div>
</div>