<div class="c-quote padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">

    <div class="o-row o-row--no-margin__bottom">

        <div class="o-grid-container">

            {{ acf.quote_quote }}

            {{ acf.quote_who }}

            {{ acf.quote_role }}

        </div>

    </div>

</div>