{% set media = acf.signpost_media %}
{% set content = acf.signpost_content %}

<div class="c-signpost padding{% if acf.module_padding != 'padding' %} {{acf.module_padding}}{% endif %} background--{{acf.module_background}}">

    <div class="o-row o-row--no-margin o-row--mobile-loose">

        <div class="o-grid-container c-signpost__grid">

            <div class="c-signpost__media">

                {% if media.type == 'video' %}
                    {% include "./elements/video.twig" with {
                        video: media.video,
                        placeholder: media.video_placeholder
                    } %}
                {% else %}
                    {% include "./elements/image.twig" with {
                        image: media.image
                    } %}
                {% endif %}

            </div>

            <div class="c-signpost__content">
                {% if content.subhead %}
                <div class="c-signpost__tagline">
                    {{ content.subhead }}
                </div>
                {% endif %}
                {% if content.heading %}
                <div class="c-signpost__heading">
                    {{ content.heading }}
                </div>
                {% endif %}
                {% if content.intro %}
                <div class="c-signpost__intro">
                    {{ content.intro }}
                </div>
                {% endif %}
                <div class="c-signpost__content-main">
                        {{ content.content }}
                </div>
                <div class="c-signpost__cta">
                    {% if content.link %}
                        {% include "./elements/button.twig"
                            with  {
                                title : content.link['title'],
                                url: content.link['url'],
                                target: content.link['target']
                            }
                        %}
                    {% endif %}
                </div>

            </div>

        </div>

    </div>

</div>